{% extends 'base.html' %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block body %}
<section class="rovn-container-edit">
<main class="edit-profile-container">
    <div class="edit-profile-card">
        <h1>Редактировать профиль</h1>
        <form method="POST" action="/edit">
            <textarea name="bio" class="bio-textarea" placeholder="Биография" maxlength="52">{{ bio }}</textarea>
            <input type="number" name="age" class="input-field" placeholder="Возраст" value="{{ age }}">
            <input type="text" name="city" class="input-field" placeholder="Город проживания" value="{{ city }}">
            <button type="submit" class="btn save-btn">Сохранить</button>
        </form>
    </div>
</main>
</section>
{% endblock %}
