{% extends 'base.html' %}

{% block title %}
Ваши друзья
{% endblock %}

{% block body %}
<main class="main-friend">
    <section id="friends" class="friend">
        <h2 class="friend-h">Список друзей</h2>
        <div class="friend-list">
            {% for user in users %}
            <div class="friend-card">
                <div class="friend-info">
                    <a href="{{ url_for('view_profile', username=user['username']) }}" class="friend-name">{{ user['username'] }}</a>
                    <p class="friend-bio">{{ user['bio'] }}</p>
                    <!-- Добавьте фото пользователя, если есть -->
                    {% if user['photo'] %}
                    <img src="{{ url_for('static', filename=user['photo']) }}" alt="Фото {{ user['username'] }}" class="friend-photo">
                    {% endif %}
                    <div class="friend-actions">
                        <a href="{{ url_for('private_chat', username=user['username']) }}" class="btn message">Написать</a>
                        <button class="btn remove">Добавить в друзья</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
