<!-- templates/view_profile.html -->
{% extends 'base.html' %}

{% block title %}
Профиль пользователя {{ user['username'] }}
{% endblock %}

{% block body %}
<main class="main-profile">
    <section id="profile">
        <h2>Профиль пользователя {{ user['username'] }}</h2>
        <div class="profile-info">
            <p><strong>Имя пользователя:</strong> {{ user['username'] }}</p>
            <p><strong>Биография:</strong> {{ user['bio'] }}</p>
            <!-- Добавьте другие данные профиля, такие как фото и другие поля -->
        </div>
    </section>
</main>
{% endblock %}
